@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

* {
  font-family:'Noto Sans KR', sans-serif !important;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #1976d2;
  --color-2: #009DE6;
  --color-3: #00BED8;
  --color-4: #00D9B1;
  --color-5: #8DEE86;
  --color-6: #F9F871;
}
